.subHeading {
    text-align: center;
    padding: .5rem;
}

.subHeading .subHeading-text {
    color: var(--firsttext); 
}

.subHeading .subHeading-text h2 {
    font: var(--secondheadline);
    /* font-size: 2rem;
    line-height: 2.5rem; */
}

.subHeading .subHeading-text p {
    font: var(--subheading);
    color: var(--secondtext);
    /* font-size: .9rem;
    line-height: 1.2rem; */
}

.subHeading-action {
    margin-block: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


@media screen and (min-width: 768px) {
    .subHeading {
        padding-inline: 5rem;
    } 
}

@media screen and (min-width: 1024px) {
    .subHeading-action {
        flex-direction: row;
    } 
}


@media screen and (min-width: 1440px) {
    .subHeading {
        padding-inline: 12rem;
    }
}